
@{
    ViewBag.Title = "Create";
    var imageURL = "/Content/images/system/placeholder-image.png";
}
<div class="container">
    <h2>Create Category</h2>
    <form id="createCategory">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Name <span class="text-danger">*</span></label>
                    <input class="form-control" name="Name" required />
                  
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input class="form-control" name="Description" />
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input type="hidden" id="ImageURL" name="ImageURL" />
                    <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
                    @*<div class="thumb">
                            <img id="categoryImage" height="40" />
                        </div>*@
                </div>


                <div class="form-group">
                    <label>Is Featured?</label>
                    <div class="input-group">
                        <div class="radio form-control">
                            <label><input type="radio" name="IsFeatured" value="True" />True</label>
                        </div>
                        <div class="radio form-control">
                            <label> <input type="radio" name="IsFeatured" value="False" />False</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <img class="img-thumbnail img-fluid" id="categoryImage" src="@imageURL" />
                </div>
            </div>
        </div>
        <button id="saveBtn" type="submit">Save</button>
        <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
        @Html.ValidationSummary()
    </form>
</div>

<script>
    $("#imageUpload").change(function () {

        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++)
        {
            var file = element.files[i];
            formData.append("photo", file);
        }

        $.ajax({
            type:'POST',
            url: '@Url.Action("UploadImage","Shared")',                           //'/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData:false

        })
            .done(function (response) {

                console.log(response);
                if (response.Success)
                {
                    $("#categoryImage").attr("src", response.ImageURL);

                    $("#ImageURL").val( response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown)
            {
                alert("failed");


            });
    });
    $("#createCategory").validate({
        rules: {
            Name: {
                required: true,
                minlength: 5,
                maxlength:50
                  },
            Description:
                  {
                maxlength:500
                  }
        },
        messages: {
            Name: {
                required: 'Name is required',
                minlength: 'Minimum is 5 letters',
                maxlength:'Maximun is 50 letters',
            },
            Description: {
                maxlength:'maximum is 500 letters'
            }
        }

    });

    $("#saveBtn").click(function () {

		if ($("#createCategory").valid()) {
            $.ajax({
                async: true,
				type: 'POST',
				url: '@Url.Action("Create", "Category")',
				data: $("#createCategory").serialize()
			})
			.done(function (response) {
				$("#tableContiner").html(response);
				$("#actionContainer").html("");
				focusAction("tableContiner");
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				swal({
					title: "Warning",
					text: "Please enter all required fields.",
					icon: "warning",
					buttons: true,
					dangerMode: true,
				});
			});
		}
        else {
            focusAction("actionContainer");
			swal({
				title: "Warning",
				text: "Please enter all valid data in fields.",
				icon: "warning",
				buttons: true,
				dangerMode: true,
			});
		}
	});

	$("#cancelBtn").click(function () {
		$("#actionContainer").html("");

		focusAction("tableContiner");
	});
</script>


