@model ClothBazar.Entity.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>
<h1>Are you sure you want to delete this category?</h1>
<form method="post">

    <input type="hidden" name="ID" value="@Model.ID" />
    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <br />

    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <button type="submit">Yes Delete</button>
</form>
<a href="~/Category/Index">Cancel </a>



